@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4, p, nav a {
        @apply text-brown-50;
    }

    h1, h2, h3, h4 {
        @apply font-headings;
    }

    p {
        @apply font-body my-2 block;
    }

    h1 {
        @apply text-sub md:text-section lg:text-page font-bold leading-none;
    }
    
    h2 {
        @apply text-section font-bold leading-none;
    }
    
    h3 {
        @apply text-sub font-bold leading-none;
    }
    
    h4 {
        @apply text-subSection font-semibold leading-none;
    }

    /* Button styling */
    .primary {
        @apply bg-current bg-green-100 hover:bg-green-200;
    }

    .secondary {
        @apply bg-current bg-beige-100;
    }

    .green-button-icon {
        @apply bg-current bg-beige-300;
    }

    .beige-button-icon {
        @apply bg-current bg-brown-50;
    }

    /* Background image size and placement */
    .sm-bg-cover {
        background-position: -240px -530px !important;
        background-size: 1130px !important;
        background-repeat: no-repeat !important; 
    }

    .md-bg-cover {
        background-position: -50px -970px !important;
        background-size: 1800px!important;
        background-repeat: no-repeat !important; 
    }
    
    .lg-bg-cover {
        background-position: -30px -1030px !important;
        background-size: 2170px!important;
        background-repeat: no-repeat !important;
    }

    .xl-bg-cover {
        background-position: 30px -1630px !important;
        background-size: 2870px!important;
        background-repeat: no-repeat !important;
    }
}